body {
    background-color: black;
}

#wrap {
    margin : 5px 10% 5px 10%;
    width  : 80%;
    display: table;
}

#category {
    width           : 25%;
    background-color: green;
    display: table-cell;
}

#list {
    background-color: hotpink;
    width           : 50%;
    display: table-cell;
}

#summa {
    background-color: indigo;
    width           : 25%;
    display         : table-cell;
}
#filter{
    text-align: center;
}
.buttn{
    margin: 15px;
}

